# Ignore virtual environment
venv

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore environment configs
.env
.env.*

# Ignore downloaded datasets and extracted CSVs
*.zip
*.csv

# Ignore VSCode settings (optional)
.vscode/

# Ignore MySQL dump or local exports
*.sql

# Ignore testing ETL pipeline.
ETL_Pipeline


